.content-block {
	@include bg-styles;
	position: relative;
	color: $white;
	z-index: 1;
	padding: 40px 0 60px;

	@include media('>=phone') {
		padding: 60px 0 115px;
	}

	&:after {
		position: absolute;
		content: '';
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: rgba(0, 0, 0, 0.63);
		z-index: -1;
	}
}

.content-text {
	max-width: 600px;

	@include media('>=tablet') {
		padding: 0 0 0 10px;
	}

	@include media('>=widescreen') {
		width: 50%;
	}

	.title-decor {
		color: $secondary;

		&:after {
			background: $secondary;
		}
	}
}